body, h1 {
	margin: 0px;
}
h1 {
	padding: 15px;
	background-color: antiquewhite;
}
.content {
	margin: 5px;
	padding: 10px;
}
.navbar{
	margin: 5px;
	background-color: burlywood;
}
a {
	padding: 15px;
}